body{
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
}
.container{
    height: 100px;
    width: 250px;
    margin: 10px 10px;
}
.content{
    height: 30px;
    text-align: center;
    padding-top: 7px;
    margin-bottom: 10px;
}
.text-strong{
    font-weight: bold;
}